/* Barra de ação com uma barra de pesquisa */
.actionbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionbar__searchbar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.actionbar__searchbar input {
    border: 2px solid #0A74B8;
    border-radius: 8px;
    padding: 5px 10px;
    width: 200px;
}

.actionbar__searchbar a {
    background-color: #0A74B8;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
}