/* Tabela */
.table__container {
    margin: 30px 0;
    background-color: #0A74B8;
    border-collapse: collapse;
    border-radius: 8px;
    overflow-x: auto;
    padding: 10px;
}

.table__description {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
}

table {
    width: 100%;
}

th,
td {
    min-width: 100px;
    max-width: 0;
    text-align: left;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #FFF;
}

th {
    font-size: 1rem;
    font-weight: bold;
}

th:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

td {
    font-size: .9rem;
    font-weight: 400;
}

td:hover {
    cursor: default;
    background-color: #06649e;
}